<div class="card">
  <div class="card-body">
    <h1><strong>{{postagem.titulo}}</strong></h1>
    <hr>
    <small><strong>Data de publicação:</strong> {{postagem.data}}</small>
    <hr>
    <p class="text-justify">{{postagem.conteudo}}</p>
  </div>
</div>
